@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #0f172a;
        color: white;
    }
}

@layer components {
    .container-custom {
        max-width: 900px;
        margin: auto;
        padding: 40px;
    }

    .auth-box {
        background: #1e293b;
        padding: 20px;
        border-radius: 8px;
        max-width: 400px;
    }

    .input-custom {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .btn-primary {
        background: #22c55e;
        border: none;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        color: black;
        font-weight: bold;
    }
}
